<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BlogGaelle</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/font-awesome/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="navbar navbar-dark bg-transparent navbar-expand-md pl-5">

        <a id="brand" class="navbar-brand p-5" href="@Url.Action("Landing","Home")"><i class="far fa-user"></i> Gaëlle D. </a>


        <div class="navbar-collapse collapse justify-content-center">
            <ul class="nav navbar-nav">
                <li>

                    <a class="nav-item p-5" href="#cardCompetences"><i class="fas fa-cogs" aria-hidden="true"></i> COMPETENCES </a>
                    <a class="nav-item p-5" href="#cardParcours"><i class="fas fa-graduation-cap"></i> PARCOURS </a>
                    <a class="nav-item p-5" href="#cardFormation"><i class="fas fa-briefcase"></i> FORMATION </a>
                    <a class="nav-item p-5" href="#cardHobbies"><i class="fas fa-thumbs-up"></i> HOBBIES </a>
                    @*<a class="nav-item p-5" href="@Url.Action("Formation","Home")"><i class="fas fa-graduation-cap"></i> FORMATION </a>
                    <a class="nav-item p-5" href="@Url.Action("Parcours","Home")"><i class="fas fa-briefcase"></i> PARCOURS </a>
                    <a class="nav-item p-5" href="@Url.Action("Hobbies","Home")"><i class="fas fa-thumbs-up"></i> HOBBIES </a>*@

                </li>
            </ul>

        </div>
    </nav>

            <div class="container body-content m-auto">
                @RenderBody()
            </div>

    <footer>
        <p>&copy; @DateTime.Now.Year - Gaëlle D. </p>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
