@model BlogGaelle.Models.User
@{
    ViewBag.Title = "Landing";
}

<div class="d-flex flex-column col-12">
    @*<div class="card bg-card w-25 col-3 text-center mx-auto">
            <h1>
                - Bienvenue -
            </h1>
        </div>*@



    <div id="intro" class="card bg-card align-items-center">

        <div class="mr-5 mt-5 mb-5">
            <img class="photocv" src="~/images/autoselfie.jpeg" alt="Photo" />
        </div>

        <div class="ml-5 mt-5 mb-5 text-uppercase text-center">

            <p>
                Récemment diplômée du Titre Professionnel de Concepteur Développeur d'Applications ,

            </p>
            <p>
                je développe des applications web et mobiles en utilisant différents langages de programmation tels que :
            </p>
            <p>
                C#, Java, Css, et Javascript, dans divers Frameworks, Entity Framework, Bootstrap, .Net .
            </p>
            <p>
                Je recherche activement un premier poste de développeuse web en C# Asp.Net.
            </p>
            @*<p> Me voici développeuse d'applications en C# et ASP.NET et la programmation est un univers qui me passionne depuis toujours..</p>
                <p>Diplômée du titre de Concepteur Développeur d'Applications depuis août 2020, je suis en reconversion professionnelle et contente de rentrer (enfin) dans le monde de la programmation orientée objet. </p>*@

        </div>
    </div>

    <div id="cardCompetences" class="card bg-card">
        <div class="p-3 text-center">
            <h1>COMPETENCES</h1>

        </div>
        <div id="cardCompetences" class="d-flex flex-row card bg-card">

            <div id="cardLangages" class="card bg-card col-md-3 p-3 text-center">

                <h2><i class="fas fa-globe"></i> LANGAGES</h2>
                <p> -----------</p>

                <p>
                    C#
                </p>
                <p>
                    HTML
                </p>
                <p>
                    SQL
                </p>
                <p>
                    CSS
                </p>
                <p>
                    JAVASCRIPT
                </p>
                <p>
                    JAVA
                </p>
                @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@

            </div>
            <div id="cardFramework" class="card bg-card col-md-3 p-3 text-center">

                <h2><i class="fas fa-photo-video"></i> FRAMEWORK</h2>
                <p> -----------</p>

                <p>
                    .NET 4
                </p>
                <p>

                    JQUERY
                </p>
                <p>

                    XAMARIN
                </p>
                <p>

                    ENTITY FRAMEWORK 6
                </p>
                <p>

                    BOOTSTRAP 3 4
                </p>

            </div>
            <div id="cardBdd" class="card bg-card col-md-3 p-3 text-center">

                <h2><i class="fas fa-database"></i> BDD</h2>
                <p> -----------</p>

                <p>
                    SQL SERVER 2017
                </p>
                <p>
                    SQL LITE
                </p>

            </div>
            <div id="cardLogiciels" class="card bg-card col-md-3 p-3 text-center">

                <h2><i class="fab fa-uncharted"></i> LOGICIELS</h2>
                <p> -----------</p>

                <p>
                    VISUAL STUDIO 2019
                </p>
                <p>SSMS</p>
                <p>GIT</p>
                <p>
                    ANDROID STUDIO 3
                </p>

            </div>
        </div>
    </div>


    <div id="cardParcours" class="card bg-card">
        <div class="p-3 text-center">
            <h1>PARCOURS</h1>


        </div>
        <div class="card bg-card p-5 text-center">

            <h3>
                été 2020 - Stage pour la société Les Brandes
            </h3>
            <p>
                Conception et Développement d'une application de gestion de maisons d'hôte: GiteHouse
            </p>
            <p> ------------------------</p>

            <h2>
                2017-2019 - Responsable d’agence chez Brotteaux Médical, à Paris 16e
            </h2>
            <p>
                Gestion d’une agence de vente et de location de matériel médical
            </p>

            <p> ------------------------</p>
            <h2>
                2012-2017 - Attachée commerciale chez LCL, à Neuilly Sur Seine
            </h2>
            <p>
                Gestion portefeuille clients et proposition produits LCL:
                crédits, assurances, placements épargne..
            </p>
            <p> ------------------------</p>
            <h2>
                2010-2012 - Conseillère en financement chez Cofinoga, à Paris 6e
            </h2>
            <p>Gestion d'un portefeuille clients</p>
            <p>Etude et montage de dossiers de financement (prêts et rachats de prêts)</p>
            <p> ------------------------</p>

            <h2>
                2003-2010 - Conseillère en immobilier chez Century21 et ERA Immobilier

            </h2>
            <p>Traitement de transactions immobilières sur Paris</p>
            <p>
                Gestion d'un fichier de clients acquéreurs et vendeurs
            </p>
            <p>
                Suivi dossiers notaires jusqu'à l'acte authentique
            </p>

        </div>

        <div id="cardFormation" class="card bg-card">
            <div class="p-3 text-center">
                <h1>FORMATION</h1>
            </div>
            <div class="card bg-card p-5 text-center">
                <h1>2019-2020 Formation AFPA</h1>
                <p class="lead">
                    <h4>Conception et développement de:</h4>

                <p> - Composants d’interface utilisateur et sécurité</p>
                <p> - Persistance des données et sécurité</p>
                <p> - Application multicouche répartie et sécurité</p>

                </p>
                <p><a href="https://github.com/DGaelle" class="btn btn-outline-success btn-lg"><i class="far fa-folder-open"></i> PortFolio </a></p>
                <p> ------------------------</p>
                <h3>
                    2020 - Titre De Concepteur Développeur D'Applications
                </h3>
                <p> ------------------------</p>
                <h2>2003 - Licence Tourisme et Nouvelles Technologies - IUT de Marne La Vallée</h2>
                <p> ------------------------</p>
                <h2>
                    2002 - BTS Tourisme-Loisirs - Ecole Supérieure de Tourisme à Paris 6e
                </h2>
            </div>
        </div>

        <div id="cardHobbies" class="card bg-card">
            <div class="p-3 text-center">
                <h1>HOBBIES</h1>
            </div>
            <div class="card bg-card p-5 text-center">
                <div class="col-md-12">
                    <p>
                        Voyages, cinéma, alpinisme, sport, littérature, musique
                    </p>
                    <a href="#intro" class="bg-card btn btn-outline-warning" style="width: 200px"><i class="fas fa-arrow-circle-up"></i> Haut de page <i class="fas fa-arrow-circle-up"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div id="cardContact" class="card bg-card align-items-center">
        <div class="p-3 text-center">
            <h1>CONTACT</h1>
            <div class="ml-5 mt-5 mb-5 text-uppercase text-center">


            </div>
            <section>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Nom, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Prenom, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Prenom, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Prenom, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Telephone, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Valider" class="btn btn-outline-success" />
                            </div>
                        </div>
                        <div>
                            @Html.ActionLink("Back to Top", "Landing", null, new { @class = "btn btn-outline-danger" })
                        </div>
                    </div>
                </div>
                }

            </section>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@*<input type="button" id="scrolltop" value="Haut" Onclick="window.location.href=" href="#intro">*@



